<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav class = "navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar nvbr">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">SkyWalker</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons left">search</i>Notes</a></li>
        <li><a href="sass.html">My Account</a></li>

        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Actions<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="waves-effect waves-light btn">Sign in <i class="material-icons right">cloud</i></a></li>
      </ul>
    </div>
  </nav>

</div>

